@tailwind base;
@tailwind components;
@tailwind utilities;

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0;
  padding: 0;
  background: var(--gray-light);
  color: var(--black);
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

#root {
  color: var(--white);
  margin: 0;
  position: relative;
  height: 100%;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-height: 100%;
  max-width: 100%;
}

:root {
  --gray: #A5A5A5;
  --gray-light: #cbcbcb;
  --gray-dark: #424242;
  --black: #000000;
  --white: #ffffff;

  --primary-main: #001724;
  --primary-light: #293c4b;
  --primary-dark: #01080E;

  --secondary-main: #FF3131;
  --secondary-light: #ff745c;
  --secondary-dark: #a20e0f;

  --accent-blue: #597aff;
  --accent-orange: #ff8f5c;
  --accent-green: #59ff8b;
  --accent-red: #ff597a;
}

.primaryTitle {
  font-size: 41px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondaryTitle {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.primarySubtitle {
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.secondarySubtitle {
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mediumText {
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.mediumTextB {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.generalText {
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.generalTextB {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.miniText {
  font-size: 12px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}